:root {
    --tipografia-cor: #151824;
    --background-cor: #ebebeb;
    --cor-primaria: #4c7a3e;
    --cor-secundaria: #8ac77bd2;
    --cor-terciaria: #0c6350;
}

html {
    font-family: "Poppins", sans-serif;
    color: var(--tipografia-cor);
    background-color: var(--background-cor);
}

.principal {
    display: flex;
}

.header {
    z-index: 10;
    display: flex;
    flex-direction: row;
    background-color: var(--cor-primaria);
    width: 100%;
    align-items: center;
    justify-items: center;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 20vw;
    margin-left: 6em;
}

.logo img {
    width: 6vw;
}

.title {
    white-space: nowrap;
    color: var(--background-cor);
    margin-left: 13em;
    font-size: 1.7vw;
}

.sidebar {
    background-color: var(--cor-secundaria);
    height: 64vh;
    width: 12.8em;
    padding: 5.7% 0;
    min-width: 12.8em;
    max-width: 12.8em;
    flex-shrink: 0;
}

.menusTabelas ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: 10%;
    font-size: 1vw;
    font-weight: 400;
}

.menusTabelas li {
    border-radius: 8px;
    padding: 10% 1px 10% 10%;
    max-width: 75%;
    cursor: pointer;
}

#atual {
    background-color: var(--cor-terciaria);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
    color: var(--background-cor);
}

.usuarioSection {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 14em;
    padding-top: 1em;
    box-shadow: 0 -3px 6px -1px rgba(0, 0, 0, 0.1);
}

.infoUsuario {
    display: flex;
    align-items: center;
    margin-left: 10%;
    gap: 5%;
}

.infoUsuario img {
    width: 30%;
    border-radius: 100%;
}

.emailUsuario {
    margin-left: 5%;
    font-size: .7vw;
}

.sectionLista {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.utilitarios {
    display: flex;
}

.searchBar {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-items: center;
    margin-top: .5%;
}

.searchBar input {
    border: none;
    border-radius: 24px;
    width: 20%;
    height: 2vw;
    padding: 0 3%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.searchBar img {
    width: 5%;
}

.lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    gap: 0 5%;
}

.hidden {
    display: none !important;
}