html{
    font-family: "Poppins", sans-serif;
    color: #292929;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: rgb(76, 122, 62);
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #000000 inset;
}
.logo{
    width: 20%;
    margin-left: 5%;
}
.logo img{
    width: 30%;
}
.title{
  align-items: center;
  margin: 0 15%;
  font-size: 1.7vw;
}